.myButton > .blocklyFlyoutButtonBackground {
  fill: none;

  stroke: var(--EditorTheme_Text_4);
  stroke-width: 2px;
}

.myButton > .blocklyFlyoutButtonShadow {
  fill: none;
}

.myButton > .blocklyText {
  stroke: var(--EditorTheme_Text_4);
  fill: var(--EditorTheme_Text_4);
}
