.loadingScreen {
  position: absolute;
  background-color: var(--EditorTheme_Theme_2);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.blocklyBlock {
  --yOffset: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
  -webkit-animation: loading 4s ease infinite;
  -moz-animation: loading 4s ease infinite;
  -ms-animation: loading 4s ease infinite;
  -o-animation: loading 4s ease infinite;
  animation-name: loading 4s ease infinite;
  opacity: 0%;
}

@-moz-keyframes loading {
  0% {
    --yOffset: 100%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }

  25% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  40% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  60% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }
}

@-webkit-keyframes loading {
  0% {
    --yOffset: 100%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }

  25% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  40% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  60% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }
}

@keyframes loading {
  0% {
    --yOffset: 100%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }

  25% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  40% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 100%;
  }

  60% {
    --yOffset: 0%;
    transform: translate(-50%, calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    opacity: 0%;
  }
}

.loadingText {
  color: var(--EditorTheme_Text_1);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Helvetica Neue", "helvetica", serif;
  font-size: xx-large;
}
