body {
    overflow: hidden;

    /*Made this a body attribute since I find myself using it a whole hell of a lot*/
    font-family: "Helvetica Neue", "helvetica", serif;

    --CodeVis: hidden;
    --BlocklyVis: visible;
    --TerminalVis: visible;

    --PreviewStylesPopout: -48px;

    --EditorTheme_Color_1: #0fbd8c;
    --EditorTheme_Color_2: #0eaa7e;
    --EditorTheme_Color_3: #0c9770;
    --EditorTheme_Color_4: #28d1a1;
    --EditorTheme_Color_5: #067958;

    --EditorTheme_Theme_1: #0f0f0f;
    --EditorTheme_Theme_2: #141414;
    --EditorTheme_Theme_3: #1f1f1f;
    --EditorTheme_Theme_4: #2f2f2f;

    --EditorTheme_Text_1: #ffffff;
    --EditorTheme_Text_2: #bfbfbf;
    --EditorTheme_Text_3: #ffffff;
    --EditorTheme_Text_4: #8b8b8b;

    --U_TIMER: 0px;

    --blocklyTextColor: var(--EditorTheme_Text_1);

    --EditorTheme_TopBarSize: 64px;

    --EditorTheme_ButtonSVGStyle: invert(100%);
}

.blocklyText {
    fill: var(--blocklyTextColor);
}

input[type="text"] {
    background-color: var(--EditorTheme_Theme_2);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--EditorTheme_Theme_3);
    color: var(--EditorTheme_Text_1);
}

input[type="number"] {
    background-color: var(--EditorTheme_Theme_2);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--EditorTheme_Theme_3);
    color: var(--EditorTheme_Text_1);
}

.scratchStyledInput {
    background-color: var(--EditorTheme_Theme_2);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--EditorTheme_Theme_3);
    color: var(--EditorTheme_Text_1);
}

.previewStyle {
    position: absolute;
    left: var(--PreviewStylesPopout);
    background-color: var(--EditorTheme_Theme_4);
    transition: left 400ms;
    z-index: 2000;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.previewStyleSVG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: var(--EditorTheme_ButtonSVGStyle);
}

.previewStyle:hover {
    background-color: var(--EditorTheme_Theme_2);
}

.previewStyle:active {
    background-color: var(--EditorTheme_Theme_1);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;

    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--EditorTheme_Color_1);
    /*As a data URL so that we don't have to load it from a url*/
    background-image: url("data:image/svg+xml,%3C!-- https://akaricons.com/ --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M4 12l6 6L20 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.tempCodePreview {
    background: var(--EditorTheme_Theme_1);
    color: var(--EditorTheme_Text_1);
    width: 70vw;
    height: calc(100vh - var(--EditorTheme_TopBarSize));
    position: absolute;
    left: 30vw;
    top: var(--EditorTheme_TopBarSize);
    resize: none;
    visibility: var(--CodeVis);
    border-radius: 0px;
    border-color: transparent;

    overflow: hidden;
}

.codeUnhighlighted {
    background-color: #00000000;
    color: #00000000;
    z-index: 100;
    caret-color: var(--EditorTheme_Text_1);
    overflow-x: visible;
    overflow-y: visible;
    white-space: pre;
}

.codeUnhighlighted::selection {
    color: var(--EditorTheme_Text_3);
    background-color: var(--EditorTheme_Color_3);
}

.BlocklyShaderButtons {
    top: 10px;
    position: absolute;
    right: 20px;
    border-radius: 15px;
    background-color: var(--EditorTheme_Color_2);
}

.shaderMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--EditorTheme_Theme_1);
    left: 0px;
    top: 0px;
}

.buttonSelected {
    padding: auto 5px auto 5px;
    height: calc(var(--EditorTheme_TopBarSize) - 20px);
    position: relative;
    border-radius: 15px;
    background-color: var(--EditorTheme_Color_3);
    border: none;
    cursor: pointer;
    z-index: 100;

    color: #fff;
    font-family: "Lexend", sans-serif;

    transition: all 250ms;
}

.buttonUnselected {
    height: calc(var(--EditorTheme_TopBarSize) - 20px);
    position: relative;
    border-radius: 15px;
    background-color: var(--EditorTheme_Color_2);
    border: none;
    cursor: pointer;
    z-index: 100;

    color: #fff;
    font-family: "Lexend", sans-serif;

    transition: all 250ms;
}

.buttonUnselected:disabled {
    background-color: var(--EditorTheme_Color_5);
    border-color: transparent;
    color: var(--EditorTheme_Text_2);
}

.generalThemedButton {
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: var(--EditorTheme_Color_2);
    border: none;
    cursor: pointer;
    z-index: 100;

    color: #fff;
    font-family: "Lexend", sans-serif;

    transition: all 250ms;
}

.generalThemedButton:hover {
    background-color: var(--EditorTheme_Color_3);
    transition: all 250ms;
}

.generalThemedButton:active {
    background-color: var(--EditorTheme_Color_5);
    transition: all 250ms;
}

.previewAndConsole {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: var(--TerminalVis);
}

.shaderpreview {
    width: 100%;
    height: calc(50vh - var(--EditorTheme_TopBarSize));
    position: absolute;
    top: var(--EditorTheme_TopBarSize);
    left: 0px;
    background: var(--EditorTheme_Theme_3);
}

.shaderLog {
    position: absolute;
    width: 30vw;
    height: calc(50vh - var(--EditorTheme_TopBarSize));
    top: calc(50vh + var(--EditorTheme_TopBarSize));
    left: 0px;
    background: var(--EditorTheme_Theme_1);
    overflow-y: scroll;
}

.BlocklyDiv {
    width: 70%;
    height: calc(100vh - var(--EditorTheme_TopBarSize));
    left: 30%;
    top: var(--EditorTheme_TopBarSize);
    position: absolute;
    background-color: var(--EditorTheme_Theme_3);
    visibility: var(--BlocklyVis);
}

.logText {
    width: 100%;
    height: auto;
    background: var(--EditorTheme_Theme_2);
    color: var(--EditorTheme_Text_1);
}

.topBar {
    background-color: var(--EditorTheme_Color_1);
    position: absolute;
    width: 100%;
    height: var(--EditorTheme_TopBarSize);
}

.logVarSwitchBar {
    background-color: var(--EditorTheme_Color_1);
    position: absolute;
    width: 30vw;
    top: 50vh;
    height: var(--EditorTheme_TopBarSize);
}

.title {
    top: 12px;
    position: absolute;
    font-size: 32px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
}

.optionsContainer {
    top: 10px;
    position: absolute;
    width: 30%;
}

.toggleButton {
    left: 10px;
    width: calc(var(--EditorTheme_TopBarSize) - 20px);
    height: calc(var(--EditorTheme_TopBarSize) - 20px);
    position: relative;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--EditorTheme_Color_2);
    z-index: 100;
    color: #fff;
}

.toggleButton:hover {
    background-color: var(--EditorTheme_Color_4);
}

.toggleButton:active {
    background-color: var(--EditorTheme_Color_3);
}

.buttonSVG {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
}

.Modal {
    width: var(--ModalWidth);
    height: var(--ModalHeight);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.noSelect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.loadingScreen {
    position: absolute;
    background-color: var(--EditorTheme_Theme_2);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.blocklyBlock {
    --yOffset: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,
            calc(-50% + (var(--BlockOffset) + var(--yOffset))));
    -webkit-animation: loading 4s ease infinite;
    -moz-animation: loading 4s ease infinite;
    -ms-animation: loading 4s ease infinite;
    -o-animation: loading 4s ease infinite;
    animation-name: loading 4s ease infinite;
    opacity: 0%;
}

@-moz-keyframes loading {
    0% {
        --yOffset: 100%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }

    25% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    40% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    60% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }
}

@-webkit-keyframes loading {
    0% {
        --yOffset: 100%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }

    25% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    40% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    60% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }
}

@keyframes loading {
    0% {
        --yOffset: 100%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }

    25% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    40% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 100%;
    }

    60% {
        --yOffset: 0%;
        transform: translate(-50%,
                calc(-50% + (var(--BlockOffset) + var(--yOffset))));
        opacity: 0%;
    }
}

.loadingText {
    color: var(--EditorTheme_Text_1);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica Neue", "helvetica", serif;
    font-size: xx-large;
}